* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
  color: #fff;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    no-repeat center/85% url("./assets/background.jpg"), black;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: transparent;
}

.logo {
  width: 182px;
  height: 34px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  color: #2fadad;
  margin: 30px;
}

input {
  width: 40vw;
  height: 2rem;
  border-radius: 20px;
  border: none;
  margin-right: 20px;
}

img {
  max-height: 30px;
  margin-right: 10px;
}

ul {
  list-style: none;
  width: 40vw;
}

li {
  background-color: #d9d9d9;
  color: black;
}

b {
  background-color: yellow;
}
